<form action="/new" method="POST">
<div>
    <label for="name">اسم المستهلك</label>
<input type="text" name="name" id="name" placeholder="اسم المستهلك">

<label for="address">عنوان المستهلك</label>
<input type="text" name="address" id="address" placeholder="عنوان المستهلك"></div>
<br>
<div>
<label for="watermeters[0]">رقم العداد</label>
<input type="text" name="watermeters" id="watermeters[0]" placeholder="رقم العداد">
<input type="button" value="+"></input>
</div>
<br>
<input type="submit" value="تسجيل"></input>
</form>
